.Timetable th {
  background-color: #f8f8f8;
  border: 2px solid #888;
  width: 10%;
}

.Timetable td {
  width: 18%;
  border-right: 2px solid #888;
  cursor: pointer;
}

.Timetable td:hover {
  background-color: #eee;
}

.selectedCell {
  background-color: #e9f5ff !important;
  box-shadow: 0 0 0 1px #a4d0ff inset !important;
}

.highlightedCell {
  background-color: #e9f5ff !important;
}

.Timetable table tbody tr:nth-child(even) td {
  border-bottom: 2px solid #888;
}

.CourseList {
  max-height: 600px;
  overflow-y: auto;
}